<div class="my-30 mx-50 d-flex flex-column g-10">
  <section class="d-flex">
    <app-date-info class="d-flex w-100"></app-date-info>
  </section>

  <section class="d-flex">
    <div class="multi-progress-container">
      <mat-progress-bar
        *ngFor="let section of sections"
        [value]="100"
        class="progress-bar"
        [style.width.%]="section.value"
        [ngClass]="section.customClass"
      ></mat-progress-bar>
    </div>
  </section>

  <section class="d-flex">
    <div class="add-field d-flex w-100">
      <app-filter-field class="w-100" [formControl]="filterInput"></app-filter-field>
    </div>
  </section>

  <section class="d-flex">
    <div class="add-field d-flex w-100">
      <app-add-field class="w-100"></app-add-field>
    </div>
  </section>

  <section class="list d-flex flex-column" *ngIf="(list$ | async) as list">
    <div class="in-progress d-flex flex-column g-10">
      <ng-container *ngFor="let item of list[Type.Inprogress]">
        <app-list-item
          [item]="item"
          [type]="Type.Inprogress">
        </app-list-item>
      </ng-container>
    </div>

    <mat-expansion-panel class="list-accordion">
      <mat-expansion-panel-header class="g-10">
        <mat-panel-title>
          Do Later
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let item of list[Type.Postponed]">
        <app-list-item
          [item]="item"
          [type]="Type.Postponed">
        </app-list-item>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel class="list-accordion">
      <mat-expansion-panel-header class="g-10">
        <mat-panel-title>
          Completed
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let item of list[Type.Complete]">
        <app-list-item
          [item]="item"
          [type]="Type.Complete">
        </app-list-item>
      </ng-container>
    </mat-expansion-panel>
  </section>

  <section class="d-flex w-100 justify-content-center">
    <button mat-button (click)="onReset()">reset progress</button>
  </section>
</div>
