.card-actions {
  gap: 5px;

  .btn {
    width: 24px;
    height: 24px;
    line-height: 24px;

    &.delete {
      color: red;
    }

    &.warn {
      color: yellow;
    }

    &.done {
      color: green;
    }
  }
}
